large.fa
*.dmp
src/deps.txt
tax/*
tax
bin/*
.DS_Store
data/benchmark/
tradis
releases/zips/*zip
kraken-test
kronat-test/
long
noise
reclean.sh
.vscode/
Gastrointestinal_tract.nuc.fsa
Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.gz
stat_FILE1.md
stat_FILE2.md
stat_Gastrointestinal_tract.md
stat_Homo_sapiens.md
multiqc/*
noise/
.vscode/
rich_codex_*.log
init.sh
nimbledeps
nimbledeps-old/
data/phage/t7.fa.*data/filt.fa
data/phage/t7.fa.*
releases/seqfu2*
